<template>
  <button class="button" @click="$emit('click')">
    {{ props.text }}
  </button>
</template>

<script setup>
const props = defineProps({
  text: String
})
defineEmits(['click'])
</script>