<template>
  <div v-show="controlsVisible" id="controls" class="flex-column">
    <Button text="Test generieren" @click="generateTest()" />
    <label class="label">Seed</label>
    <input class="input" type="number" v-model="vocabularyStore.seed" placeholder="Seed" />
    <Button :text="resultText" @click="toggleResult()" />
    <Button text="Test drucken" @click="printTest()" />
  </div>
</template>

<script setup>
import { ref, nextTick } from 'vue'

import Button from '@/components/Button.vue'

import { useVocabularyStore } from '@/stores/vocabulary'

const vocabularyStore = useVocabularyStore()

const controlsVisible = ref(true)
function generateTest () {
  if (vocabularyStore.seed === 0) {
    generateSeed()
  }

  const random = getRandom(vocabularyStore.seed)

  vocabularyStore.words = []
  vocabularyStore.results = []

  const words = []
  for (const pack of Object.values(vocabularyStore.wordpacks)) {
    for (const category of pack.categories) {
      for (const word of category.words) {
        words.push(word)
      }
    }
  }

  for (let i = 0; i < 30; i++) {
    let word = words[Math.floor(random() * words.length)]
    if (Array.isArray(word.german)) {
      vocabularyStore.words.push(word.german.join('; '))
    } else {
      vocabularyStore.words.push(word.german)
    }
    if (Array.isArray(word.kana)) {
      vocabularyStore.results.push(word.kana.join(' / '))
    } else {
      vocabularyStore.results.push(word.kana)
    }
  }
}

function generateSeed () {
  vocabularyStore.seed = (Math.random() * 2 ** 32)>>>0
}

function getRandom (a) { // splitmix32 https://stackoverflow.com/questions/521295/seeding-the-random-number-generator-in-javascript
 return function() {
   a |= 0;
   a = a + 0x9e3779b9 | 0;
   let t = a ^ a >>> 16;
   t = Math.imul(t, 0x21f0aaad);
   t = t ^ t >>> 15;
   t = Math.imul(t, 0x735a2d97);
   return ((t = t ^ t >>> 15) >>> 0) / 4294967296;
  }
}

const resultText = ref('Ergebnis anzeigen')
function toggleResult () {
  vocabularyStore.resultVisible = !vocabularyStore.resultVisible
  if (vocabularyStore.resultVisible) {
    resultText.value = 'Ergebnis verbergen'
  } else {
    resultText.value = 'Ergebnis anzeigen'
  }
}

function printTest () {
  controlsVisible.value = false
  nextTick(() => {
    window.print()
  })
  setTimeout(() => {
    controlsVisible.value = true
  }, 2000)
}
</script>
