<template>
  <div class="entry flex-row">
    <div class="number">
      {{ props.number + 1 }}.
    </div>
    <div class="text">
      {{ vocabularyStore.words[props.number] }}
    </div>
    <div class="blank">
      {{ vocabularyStore.resultVisible ? vocabularyStore.results[props.number] : '' }}
    </div>
    <div class="check"></div>
  </div>
</template>

<script setup>
import { useVocabularyStore } from '@/stores/vocabulary'

const vocabularyStore = useVocabularyStore()
const props = defineProps({
  number: Number
})
</script>
