html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .5cm;
}

.flex {
  &-row {
    display: flex;
    flex-direction: row;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-grow {
    flex-grow: 1;
  }
}

#controls {
  width: 100%;
  row-gap: 5px;
}

#header {
  > .name {
    column-gap: 4px;

    > .blank {
      border-bottom: 1px solid black;
      width: 150px;
    }
  }
}

#title {
  font-size: .9cm;
  font-weight: bold;
  text-align: center;
  margin: 8px 0;
}

#footer {
  margin-top: 16px;
  padding: 0 15px;

  > .mark {
    column-gap: 4px;

    > .blank {
      border-bottom: 1px solid black;
      width: 40px;
    }
  }

  > .counter {
    column-gap: 4px;

    > .blank {
      border-bottom: 1px solid black;
      width: 30px;
    }
  }
}

#small-text {
  font-size: .25cm;
  margin-top: 4px;
  padding: 0 15px;
}

.button {
  border: 2px solid black;
  border-radius: 18px;
  height: 36px;
  font-size: .6cm;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(to right, #fffbd5, #b20a2c);
  color: black;

  &:hover {
    background: linear-gradient(to right, #fdfced, #b42b47)
  }
}

.input {
  height: 32px;
  border-radius: 18px;
  border: 2px solid black;
  font-size: .6cm;
  padding: 0 10px;
}

.entry {
  column-gap: 4px;
  margin-bottom: 8px;

  > .number {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .text {
    width: calc(50% - 30px - 8px);
    display: inline-flex;
    align-items: center;
  }

  > .blank {
    border-bottom: 1px solid black;
    width: calc(50% - 20px - 4px);
    display: inline-flex;
    align-items: end;
  }

  > .check {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    align-self: end;
  }
}

.label {
  padding: 0 12px;
}