<template>
  <div class="flex-column">
    <Controls />
    <div id="header" class="flex-row">
      <div class="name flex-row">
        <div>Name:</div>
        <div class="blank"></div>
      </div>
      <div class="flex-grow"></div>
      <div class="today">
        {{ addZero(today.getDate()) }}.{{ addZero(today.getMonth() + 1) }}.{{ today.getFullYear() }}
      </div>
    </div>
    <div id="title">
      Vokabeltest
    </div>
    <Entry v-for="(_, index) in vocabularyStore.words" :number="index" :key="index" />
    <div id="footer" class="flex-row">
      <div class="mark flex-row">
        <div>Note:</div>
        <div class="blank"></div>
      </div>
      <div class="flex-grow"></div>
      <div class="counter flex-row">
        <div class="blank"></div>
        <div>/ 30</div>
      </div>
    </div>
    <div id="small-text" class="flex-row">
      <div class="mark-ref">
        30 - 27 = 1; 26,5 - 21 = 2; 20,5 - 15 = 3; 14,5 - 9 = 4; 8,5 - 3 = 5; 2,5 - 0 = 6
      </div>
      <div class="flex-grow"></div>
      <div class="seed">
        Seed: {{ vocabularyStore.seed }}
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'

import Controls from '@/components/Controls.vue'
import Entry from '@/components/Entry.vue'

import { useVocabularyStore } from '@/stores/vocabulary'

const vocabularyStore = useVocabularyStore()

const today = ref(new Date())
function addZero (number) {
  return number > 9 ? number.toString() : `0${number}`
}
</script>

<style lang="scss" src="@/assets/custom.scss"></style>
